{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock page_styles%}


{% block content %}
    <div id="loading-box">
        <div class="container h-100 text-center">
            <div class="row">
                <div class="col-12 align-self-center">
                    <img class="img-fluid loading-dog" src="{% static 'img/common/loading_1.gif' %}" alt="">
                    <br>
                    <img class="img-fluid loading-gif" src="{% static 'img/common/loading_2.gif' %}" alt="">
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-6 py-5">
                    <h1>
                        <strong>
                            Abra o seu coração e a sua casa.
                        </strong>
                    </h1>
                    <br>
                    <p>
                        No Brasil, <b><u><a href="https://anda.jusbrasil.com.br/noticias/100681698/brasil-tem-30-milhoes-de-animais-abandonados" target="_blank">mais de 30 milhões de animais</a></u></b> estão em situação vulnerável, alguns abrigados temporariamente em diversas ONGs espalhadas pelo país.
                        É importante salvar essas vidas, compartilhando um lar, carinho e amor.
                    </p>
                    <br>
                    <button class="btn btn-lg btn-light btn-rounded px-4">
                        Faça um amigo <i class="far pl-2 fa-heart"></i>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section>
            <div class="container py-5 text-secondary">
                <div class="row text-center">
                    <div class="col-12">
                        <h3>
                            <strong>
                                Tipos de amigos disponíveis:
                            </strong>
                        </h3>

                        <div class="hr-box">
                            <hr>
                        </div>
                    </div>
                    <div class="col-12">
                        <p>
                            Lorem ipsum dolor sit.
                        </p>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-3 px-5 text-center">
                        <div style="height: 100%; max-height: 180px;">
                            <img class="img-thumbnail img-rounded img-fit" src="{% static 'img/home/cat.jpg' %}" alt="">
                        </div>
                        <br>
                        <h4><strong>Gatos</strong></h4>
                    </div>
                    <div class="col-3 px-5 text-center">
                        <div style="height: 100%; max-height: 180px;">
                            <img class="img-thumbnail img-rounded img-fit" src="{% static 'img/home/dog.jpg' %}" alt="">
                        </div>
                        <br>
                        <h4><strong>Cachorros</strong></h4>
                    </div>
                    <div class="col-3 px-5 text-center">
                        <div style="height: 100%; max-height: 180px;">
                            <img class="img-thumbnail img-rounded img-fit" src="{% static 'img/home/cacatua.jpeg' %}" alt="">
                        </div>
                        <br>
                        <h4><strong>Pássaros</strong></h4>
                    </div>
                    <div class="col-3 px-5 text-center">
                        <div style="height: 100%; max-height: 180px;">
                            <img class="img-thumbnail img-rounded img-fit" src="{% static 'img/home/coelho.jpg' %}" alt="">
                        </div>
                        <br>
                        <h4><strong>Coelhos</strong></h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <h1><strong>...</strong></h1>
                    </div>
                </div>
            </div>
        </section>


        <!-- SOME ADDITIONAL INFORMATION -->
        <section id="additional-information">
            <div class="container">
                <div class="row py-5">
                    <div class="col-6">
                        <img class="img-fluid" src="{% static 'img/home/additional.png'%}" alt="">
                    </div>
                    <div class="col-6 align-self-center">
                        <div class="text-center">
                            <h1><strong>Por que adotar um amigo?</strong></h1>
                            <br>
                        </div>
                        
                        <p class="text-justify">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adotando um pet em situação vulnerável você não está apenas <mark>salvando uma vida</mark>,
                            mas também ganhando um companheiro que te trará inúmeros benefícios, como por exemplo:
                        </p>
                        <br>

                        <div class="text-success pl-5">
                            <h5><i class="fas pr-2 fa-check-circle"></i> Elevação da autoestima</h5>
                            <h5><i class="fas pr-2 fa-check-circle"></i> Melhora da capacidade de organização</h5>
                            <h5><i class="fas pr-2 fa-check-circle"></i> Desenvolvimento da comunicação e empatia</h5>
                        </div>

                        <div class="w-100 text-center py-5">
                            <button class="btn btn-lg btn-danger w-50 btn-rounded px-4">
                                Faça um amigo<i class="fas pl-2 fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="header_2">
            <div class="container">
                <div class="row">
                    <div class="col-12 pt-5 text-center">
                        <h3>
                            <strong>
                                Alguns dados interessantes:
                            </strong>
                        </h3>

                        <div class="hr-box">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-3 text-center">
                        <div class="img-info p-4 mx-auto">
                            <img class="img-fluid" src="{% static 'img/home/header_2_1.png' %}" width="100%" alt="">
                        </div>
                        <br>
                        <h3>50</h3>
                        <h3>Animais adotados</h3>
                    </div>
                    <div class="col-3 text-center">
                        <div class="img-info p-4 mx-auto">
                            <img class="img-fluid" src="{% static 'img/home/header_2_2.png' %}" width="100%" alt="">
                        </div>
                        <br>
                        <h3>50</h3>
                        <h3>Animais buscando lar</h3>
                    </div>
                    <div class="col-3 text-center">
                        <div class="img-info p-4 mx-auto">
                            <img class="img-fluid" src="{% static 'img/home/header_2_3.png' %}" width="100%" alt="">
                        </div>
                        <br>
                        <h3>50</h3>
                        <h3>Bla bla</h3>
                    </div>
                    <div class="col-3 text-center">
                        <div class="img-info p-4 mx-auto">
                            <img class="img-fluid" src="{% static 'img/home/header_2_4.png' %}" width="70%" alt="">
                        </div>
                        <br>
                        <h3>50</h3>
                        <h3>Bla bla</h3>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="container px-5 pb-5">
                <div class="row pt-5">
                    <div class="col-12 text-center text-secondary">
                        <h3>
                            <strong>
                                Veja nossos artigos:
                            </strong>
                        </h3>

                        <div class="hr-box">
                            <hr>
                        </div>

                        <p>
                            Não concordo.
                        </p>
                    </div>
                </div>

                <div class="row py-5 px-5">
                {% comment %} Imagem : <br><br>
                        Nome : <br>
                        Descrição: <br>
                        Data de nascimento: {{pet.birth_date}}<br>
                        Tipo do pet: {{pet.type}}<br>
                        Raça do pet: {{pet.breed}}<br>
                        Tamanho do pet: {{pet.size}}<br>
                        Sexo do pet: {{pet.sex}}<br>
                        Vacinado: {{pet.vaccinated}}<br>
                        Castrado: {{pet.castrated}}<br>
                        Tamanho: {{pet.dewormed}}<br>
                        Vulnerável: {{pet.vulnerable}}<br>
                        <a href="{% url 'pets:EditPet' pet.id %}   "> Atualizar informacao </a> {% endcomment %}
                        <hr>
                    {% for pet in pets %}
                        <div class="col-4">
                            <div class="card">

                                <img class="card-img-top" alt="No image" src="{{ request.scheme }}://{{ request.get_host }}/media/{{pet.image}}">
                                <div class="card-body">
                                <h5 class="card-title">{{pet.name}}</h5>
                                <p class="card-text">{{pet.description}}</p>
                                <a href="{%  url 'pages:Details' pet.id  %}" class="btn btn-primary btn-rounded w-100 btn-lg btn-cards">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>









    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Acesse a sua conta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'account_login' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
            
                <input id="id_login" name="login" placeholder="Username or e-mail" type="text" required />
                <input id="id_password" name="password" placeholder="Password" type="password" required />
            
                <label for="id_remember">Remember Me:</label>
                <input id="id_remember" name="remember" type="checkbox" />
            
                <button type="submit">Login</button>
                <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
