<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock page_styles%}

{% block content %}

<div id="loading-box">
    <div class="container h-100 text-center">
        <div class="row">
            <div class="col-12 align-self-center">
                <img class="img-fluid loading-dog" src="{% static 'img/common/loading_1.gif' %}" alt="">
                <br>
                <img class="img-fluid loading-gif" src="{% static 'img/common/loading_2.gif' %}" alt="">
            </div>
        </div>
    </div>
</div>

<header class="default-header-1">
<div class="container py-5">
    <div class="row justify-content-around text-dark">
        <div class="col-12 col-md-3 mb-3 h-100 py-3 white-box">
        
        <h5 class="m-0"><strong>FILTRAR (opcional):</strong></h5><small>Selecione uma <em>ou</em> mais opções.</small>
        <br>

        <form class="mt-2" method="get" id="filtro">
            <div>
                <strong>Tipo do pet:</strong>
                {{myFilter.form.pet_type}}
            </div>
            <div class="mt-3">
                <strong>Raça do pet:</strong>
                {{myFilter.form.breed}}
            </div>
            <div class="mt-3">
                    <strong>Tamanho do pet:</strong>
                    {{myFilter.form.size}}
            </div>
            <div class="mt-3">
                    <strong>Sexo do pet:</strong>
                    {{myFilter.form.sex}}
            </div> 
            <div class="mt-3">
                    <strong>Vacinado:</strong>
                    {{myFilter.form.vaccinated}}
            </div>
            <div class="mt-3">
                    <strong>Castrado:</strong>
                    {{myFilter.form.castrated}}
            </div>
            <div class="mt-3">
                    <strong>Vermifugado:</strong>
                    {{myFilter.form.dewormed}}
            </div>
            <div class="mt-3">
                    <strong>Vulnerável:</strong>
                    {{myFilter.form.vulnerable}}
            </div>
            <br>
            <button class="mt-2 btn btn-lg btn-primary w-100" type="submit">Pesquisar</button>
        </form>
        </div>

        <div class="col-12 col-md-8">
            <div class="row justify-content-center p-2 mb-3 white-box text-center">
                <div class="col-12 d-flex flex-column">
                <div class="pagination text-center mx-auto">
                    <span class="step-links">
                        {% if pets.has_previous %}
                            <a style="color:blue" href="?page=1">&laquo; first</a>
                            <a style="color:blue" href="?page={{ pets.previous_page_number }}">previous</a>
                        {% endif %}

                        <span style="color:blue" class="current">
                            Page {{ pets.number }} of {{ pets.paginator.num_pages }}.
                        </span>

                        {% if pets.has_next %}
                            <a style="color:blue"href="?page={{ pets.next_page_number }}">next</a>
                            <a style="color:blue" href="?page={{ pets.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                </div>
            </div>
            <div class="row py-5 white-box">
        {% for pet in pets %}
        <div class="col-12 col-md-4 my-3">
            <div class="card h-100 text-dark">
                <img class="card-img-top" alt="No image" src="{{ request.scheme }}://{{ request.get_host }}/media/{{pet.image}}">
                <div class="card-body">
                <h5 class="card-title">
                <small>Nome: </small>
                <strong>{{pet.name}}</strong>
                </h5>
                <p class="card-text">
                <div class="text-truncate" style="height: 30px;">
                    <small>Descrição: </small>
                    {{pet.description}}
                </div>
                <hr>
                <span class="badge badge-info">
                {% if pet.sex == 'M'%}
                    Macho
                {% else %}
                    Fêmea
                {% endif %}
                </span>
                <span class="badge badge-info">
                {% if pet.size == 'P'%}
                    Pequeno
                {% elif pet.size == 'M'%}
                    Médio
                {% else %}
                    Grande
                {% endif %}
                </span>

                {% if pet.vaccinated %}
                    <span class="badge badge-success">Vacinado</span>
                {% endif %}
                    
                {% if pet.castrated %}
                    <span class="badge badge-success">Castrado</span>
                {% endif %}
                    
                {% if pet.dewormed %}
                    <span class="badge badge-success">Vermifugado</span>
                {% endif %}

                {% if pet.vulnerable %}
                    <span class="badge badge-danger">Vulnerável</span>
                {% endif %}
        

                </span>
                </p>
                    <a href="{%  url 'pages:Details' pet.id  %}" class="mb-auto btn btn-primary btn-rounded w-100 btn-lg btn-cards">+ Informações</a>
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>
</div>


<div class="container pb-5">
    
</div>
</header>

<script>
$(document).ready(function() {
    $("#filtro select").addClass("w-100 form-control");


    var yes_or_no_options = {
        "---------": "",
        "Sim": "true",
        "Não": "false"
    };
    // VACINADO
    $("#id_vaccinated").empty();
    $.each(yes_or_no_options, function(key,value) {
        $("#id_vaccinated").append($("<option></option>")
            .attr("value", value).text(key));
    });
    // CASTRADO 
    $("#id_castrated").empty();
    $.each(yes_or_no_options, function(key,value) {
        $("#id_castrated").append($("<option></option>")
            .attr("value", value).text(key));
    });
    // VERMIFUGADO
    $("#id_dewormed").empty();
    $.each(yes_or_no_options, function(key,value) {
        $("#id_dewormed").append($("<option></option>")
            .attr("value", value).text(key));
    });
    // VULNERÁVEL
    $("#id_vulnerable").empty();
    $.each(yes_or_no_options, function(key,value) {
        $("#id_vulnerable").append($("<option></option>")
            .attr("value", value).text(key));
    });
})

</script>

{% endblock content %}
