{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock page_styles%}


{% block content %}
<br>
<img src="{{ request.scheme }}://{{ request.get_host }}/media/{{pet.image}}"><br>
Foto do Pet:<br>{{ pet.image }}<br>
Nome: <br>{{ pet.name }} <br>
Descrição: <br>{{ pet.description }} <br>
Data de nascimento: (YYYY/MM/DD)<br>{{ pet.birth_date }}<br>
Tipo do pet: <br>{{ pet.pet_type }}<br>
Raça: <br>{{ pet.breed }}<br>
Tamanho: <br>{{ pet.size }}<br>
Sexo: <br>{{ pet.sex }}<br>
Vacinado: <br>{{ pet.vaccinated }}<br>
Castrado: <br>{{ pet.castrated }}<br>
Vermifugado: <br>{{ pet.dewormed }}<br>
Vulnerável: <br>{{ pet.vulnerable }}<br>


<div style="border:solid 1px">
{% if logged == True %}
    {{ user.mobile_phone }}
    <a target="_blank" href="https://wa.me/55{{ user.mobile_phone }}?text=Ol%C3%A1%20{{user.name}}%2C%20gostaria%20de%20saber%20mais%20sobre%20o%20pet%20{{pet.name}}%2C%20voc%C3%AA%20poderia%20me%20ajudar%3F"> Saber mais </a>
{% else %}
    {{ user.mobile_phone|slice:"0:4" }}
    <a target="_blank" href="{{ request.scheme }}://{{ request.get_host }}/accounts/login"> Saber mais </a>
{% endif %}
</div>
<hr>
{% endblock content %}
