<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock page_styles%}

{% block content %}
<h1> Meus pets registrados </h1>
{% for pet in pets %}
    <a href="{% url 'pets:deletePet' pet.id %}"> Deletar </a>
    Imagem : <br><img src="{{ request.scheme }}://{{ request.get_host }}/media/{{pet.image}}"><br>
    Nome : {{pet.name}}<br>
    Descrição: {{pet.description}}<br>
    Idade: {{pet.age}}<br>
    Tipo do pet: {{pet.type}}<br>
    Raça do pet: {{pet.breed}}<br>
    Tamanho do pet: {{pet.size}}<br>
    Sexo do pet: {{pet.sex}}<br>
    Vacinado: {{pet.vaccinated}}<br>
    Castrado: {{pet.castrated}}<br>
    Tamanho: {{pet.dewormed}}<br>
    Vulnerável: {{pet.vulnerable}}<br>
    Status de adoção: {{pet.isAdopted}}<br>
    
    <a href="{% url 'pets:EditPet' pet.id %}"> Atualizar informacao </a> <br>

    Adotado: {{ pet.isAdopted }}<br>

    <a href="{% url 'pets:adopted' pet.id %}"> Este pet foi adotado! :D </a>
    <hr>
{% endfor %}



{% endblock content %}