{% load static %}

{% block page_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
{% endblock page_styles %}

{% block footer %}
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center py-5">
                    <img class="footer-logo mr-3" src="{% static 'img/common/logo_only_cat.png' %}" alt="">
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-4 pt-2 pb-2 text-center text-light">
                    <h5><strong><u><a href=" https://me-adota.github.io/docs/ "> Quem somos? </a></u></strong></h5>
                    <br>
                    <p>
                        Nós somos um projeto <u>sem fins lucrativos</u> que visa facilitar a adoção de animais disponibilizando uma plataforma gratuita e de qualidade.
                        Priorizamos pelos animais que estão em situação vulnerável (de rua).
                        <br><br>
                        <hr style="background-color: rgba(255,255,255,0.25);">
                        Somos produto do esforço espontâneo de alunos dedicados da Universidade de Brasília.
                    </p>

                        <img class="unb-icon" src="{% static 'img/common/unb_logo.png'%}" width="100%">

                    
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-4 pb-5 text-center">
                    <hr style="background-color: rgba(255,255,255,0.25);">
                    <br>
                    <a href="https://twitter.com/" class="pr-2">
                        <button class="btn social-button twitter-button">
                            <i class="fab fa-twitter"></i> 
                        </button>
                    </a>

                    <a href="https://www.facebook.com/" class="pr-2">
                        <button class="btn social-button facebook-button">
                            <i class="fab fa-facebook-f"></i> 
                        </button>
                    </a>

                    <a href="https://www.instagram.com/">
                        <button class="btn social-button instagram-button">
                            <i class="fab fa-instagram"></i> 
                        </button>
                    </a>
                    

                    <a href="">

                    </a>
                </div>
            </div>
        </div>
    </footer>

    <div class="after-footer py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <small>© All rights reserved.<br class="d-md-none"> - Desenvolvido pela <a href="#"><i class="fab fa-github"></i> Equipe Ancient Fiddle</a></small>
                </div>
            </div>
        </div>
    </div>
    <script>
        if(document.getElementById("oPrimeiroNomeDoCara") != null){
            str = document.getElementById('oPrimeiroNomeDoCara').innerHTML;
            name = str.split(" ")[1];
            document.getElementById("oPrimeiroNomeDoCara").textContent=" "+name+" ";
        }
    </script>
{% endblock footer %}