{% load static %}

{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
{% endblock page_styles %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

{% block navbar %}
    <div class="top-navbar">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center py-1">
                    <small>"Você não pode mudar o passado de um pet, mas pode reescrever o futuro dele."</small>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand py-3" href="{% url 'pages:home' %}">
                <img class="navbar-logo" src="{% static 'img/common/logo_text.png' %}" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto text-center ">
                    <a class="nav-link active my-auto mr-3 hvr-underline-from-center" href="{% url 'pages:home' %}">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link my-auto mr-3 hvr-underline-from-center" href="{% url 'pages:aboutUs' %}">Sobre Nós</a>
                    <a class="nav-link my-auto mr-3 mr-md-5 hvr-underline-from-center" href="{% url 'pages:infos' %}">Informações</a>
                    <a class="mb-2 mb-md-0" href="{% url 'pages:makeafriend' %}">
                        <button class="btn w-100 btn-danger btn-rounded px-4 mr-2">
                            Faça um amigo <i class="fas pl-2 fa-heart"></i>
                        </button>
                    </a>

                    {% if user.is_authenticated %}
                        <div class="dropdown show">
                            <a class="nav-link w-100 my-auto btn btn-success btn-rounded px-4 text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user"></i> {{user.full_name}}
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                {% if request.user.is_authenticated %}
                                    <a class="dropdown-item" href="{% url 'pets:insertPet' %}">Cadastrar Pet</a>
                                    <a class="dropdown-item" href="{% url 'pets:mypets' %}">Registrados</a>
                                    {% comment %} <a class="dropdown-item" href="#">Adotar</a>
                                    <a class="dropdown-item" href="#">Registrados</a>
                                    <a class="dropdown-item" href="#">Adquiridos</a>
                                    <a class="dropdown-item" href="#">Status de adoção</a> {% endcomment %}
                                    <a class="dropdown-item" href="{% url 'users:userInfo' %}">Minha conta</a>
                                {% endif %}

                                <div class="dropdown-divider"></div>
                                {% if request.user.is_authenticated %}
                                    <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i> Sair</a>
                                {% endif %}
                            </div>
                        </div>
                            
                    {% else %}
                        <a class="nav-link w-100 my-auto btn btn-success btn-rounded px-4 text-white" href="{% url 'account_login' %}">
                            <i class="far fa-user"></i> Minha Conta
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock navbar %}